
  <div class="row">
    <% @teams.each do |team| %>
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
      <div class="hovereffect">
        <img class="img-responsive" src="https://df8r7aly9nid3.cloudfront.net/app/uploads/production/photo/photo/20276/large_7dab94154913599414ac3eadfc089541.jpg" alt="">
        <div class="overlay">
          <h2><%= team[1] %></h2>
          <h2><%= team[0] %>Employee</h2>
        </div>
      </div>
    </div>
     <% end %>
  </div>


<style type="text/css">
  .hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
  background: #42b078;
}

.hovereffect .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  padding: 50px 20px;
}

.hovereffect img {
  display: block;
  position: relative;
  max-width: none;
  width: calc(100% + 20px);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(-10px,0,0);
  transform: translate3d(-10px,0,0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.hovereffect:hover img {
  opacity: 0.4;
  filter: alpha(opacity=40);
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

.hovereffect h2 {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  position: relative;
  font-size: 17px;
  overflow: hidden;
  padding: 0.5em 0;
  background-color: transparent;
}

.hovereffect h2:after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: #fff;
  content: '';
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: translate3d(-100%,0,0);
  transform: translate3d(-100%,0,0);
}

.hovereffect:hover h2:after {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

.hovereffect a, .hovereffect p {
  color: #FFF;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(100%,0,0);
  transform: translate3d(100%,0,0);
}

.hovereffect:hover a, .hovereffect:hover p {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}
#team_title {
    margin-top: 6%;
    width: 100%;
    height: auto;
    border-radius: 10px;
    border: 2px solid #00BFFF;
    color: #DC143C;
    background-color: #0000;
    font: 38px Lora;
}

.team_content {
    margin-top: 4%;
    width: 100%;
    height: auto;
    border-radius: 10px;
    border: 2px solid #00BFFF;
}

.team_sub__content {
    width: 100%;
    border-radius: 10px;
    height: auto;
    padding: 15px;
    position: relative;
    margin: 0 auto;
}

.team_content__image {
    width: 100%;
    height: 350px;
    margin-bottom: 2%;
}

* {
    box-sizing: border-box;
}

body {
    font-family: Arial;
    font-size: 17px;
}

.team_sub__content img {
    vertical-align: middle;
}

.team_sub__content .team_image__text {
    position: absolute;
    bottom: 23px;
    background: rgb(0, 0, 0, 0.5);/ Fallback color / background: rgba(0, 0, 0, 0.2);/ Black background with 5 opacity / color: white;
    width: 92.8%;
}

h1,
p {
    color: white;
    text-align: center;
}

/*CSS Team Page*/


.nother_detail__title {
    margin-top: 6%;
    width: 100%;
    height: auto;
    border-radius: 10px;
    border: 2px solid #00BFFF;
    color: #8c0073;
    background-color: #0000;
    background: rgba(0, 0, 0, 0.2);
    font: 38px Lora;
    text-align: center;
}

.nother_detail__image {
    width: 100%;
    height: 230px;
    margin-bottom: 2%;
}

/*Nother Team*/

.detail_title {
    width: 100%;
    height: auto;
    margin-top: 6%;
    color: #f1f1f1;
    background-color: rgba(0, 0, 0, 0.5);
}

.detail_content {
    border-radius: 10px;
    border: 2px solid #00BFFF;
    margin-top: 3%;
    width: 100%;
    height: auto;
}

.detail_team__image {
    border-radius: 10px;
    width: 100%;
    height: 450px;
}

.detail_image__text {
    position: absolute;
    bottom: 20px;
    background: rgb(0, 0, 0);/ Fallback color / background: rgba(0, 0, 0, 0.5);/ Black background with 0.5 opacity / color: #f1f1f1;
    width: 89.3%;
}
</style>