<%= form_with(model: staff_skill, local: true) do |form| %>
  <% if staff_skill.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(staff_skill.errors.count, "error") %> prohibited this staff_skill from being saved:</h2>

      <ul>
        <% staff_skill.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :staff_id %>
    <%= form.number_field :staff_id %>
  </div>

  <div class="field">
    <%= form.label :skill_id %>
    <%= form.number_field :skill_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
