<p id="notice"><%= notice %></p>
<%= link_to 'New Staff Skill', new_staff_skill_path %>
<h1>Staff Skills</h1>

<table>
  <thead>
    <tr>
      <th>Staff</th>
      <th>Skill</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @staff_skills.each do |staff_skill| %>
      <tr>
        <td><%= staff_skill.staff_id %></td>
        <td><%= staff_skill.skill_id %></td>
        <td><%= link_to 'Show', staff_skill %></td>
        <td><%= link_to 'Edit', edit_staff_skill_path(staff_skill) %></td>
        <td><%= link_to 'Destroy', staff_skill, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


