<p id="notice"><%= notice %></p>

<p>
  <strong>Staff:</strong>
  <%= @staff_skill.staff_id %>
</p>

<p>
  <strong>Skill:</strong>
  <%= @staff_skill.skill_id %>
</p>

<%= link_to 'Edit', edit_staff_skill_path(@staff_skill) %> |
<%= link_to 'Back', staff_skills_path %>
