<%= form_with(model: framwork, local: true) do |form| %>
  <% if framwork.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(framwork.errors.count, "error") %> prohibited this framwork from being saved:</h2>

      <ul>
        <% framwork.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
