<p id="notice"><%= notice %></p>

<h1>Framworks</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @framworks.each do |framwork| %>
      <tr>
        <td><%= framwork.name %></td>
        <td><%= link_to 'Show', framwork %></td>
        <td><%= link_to 'Edit', edit_framwork_path(framwork) %></td>
        <td><%= link_to 'Destroy', framwork, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Framwork', new_framwork_path %>
