

<div class="row">
	<div class="col-3"></div>
  <div class="col-6">
  	<h1>Log in</h1>
    <%= form_for(:session, url: login_path) do |f| %>
      
        <%= f.label :username %>
        <%= f.text_field :username, class: 'form-control' %>

        <%= f.label :password %>
        <%= f.password_field :password, class: 'form-control' %>

		<%= f.label :remember_me, class: "checkbox inline" do %>
        <%= f.check_box :remember_me %>
        <span>Remember me on this computer</span>
      	<% end %>

      	<%= f.submit "Log in", class: "btn btn-primary" %>

    <% end %>

  </div>
  <div class="col-3"></div>
</div>
<style type="text/css">
	.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}
</style>