<%= form_with(model: staff, local: true) do |form| %>
  <% if staff.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(staff.errors.count, "error") %> prohibited this staff from being saved:</h2>

      <ul>
        <% staff.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :team_id %>
    <%= form.number_field :team_id %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :phone %>
    <%= form.text_field :phone %>
  </div>

  <div class="field">
    <%= form.label :gender %>
    <%= form.text_field :gender %>
  </div>


  <div class="field">
    <%= form.label :position_id %>
    <%= form.number_field :position_id %>
  </div>


  <span class="picture">
      <%= form.file_field :image, accept: "image/jpeg, image/gif, image/png, image/jpg" %>
  </span>
  
  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address %>
  </div>


  <div class="field">
    <%= form.label :introduction %>
    <%= form.text_area :introduction %>
  </div>

  <div class="field">
    <%= form.label :feeling %>
    <%= form.text_area :feeling %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
<script type="text/javascript">
  $("#micropost_picture").bind("change", function(){
      var size_in_megabytes = this.files(0).size/1024/1024;
        if (size_in_megabytes > 1) {
          alert("Maximum file size is 1MB. Please choose an other file!");
        }
    });
</script>