
<body>
    <div class="container-fluid" id="background">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-5">
                    <!-- Brand -->
                    <nav class="navbar navbar-expand-sm"><a class="navbar-brand" href="#">HOME</a></nav>
                </div>
            </div>
            <br>
        </div>
        <!-- Header -->
        <div class="container-fluid">
            <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8 col-md-offset-2">
            <div class="row">
            <div class="col-sm-4">
                    <h2>About Me: </h2>
                    <div class="detail_image">
                       <img class="thum_image" src="<%= image_url 'image1.png' %>" alt="Image" width="100%" height="400px;">
                    </div>
                    <h3>Name: <%= @staffs.name %></h3>
                    <h3>Gender: </h3>
                    <h3>Position: </h3>
                    <h3>Team: </h3>
                    <hr class="d-sm-none">
                </div>
                <!-- Sidebar -->
                <br><br>
                <div class="col-sm-8">
                <h2>Introduction</h2>
                <p>A revolution in resolution. Sharp and clear photos with the world's best photo engine, incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquipex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</p>
                <br>
                <h2>My Feeling</h2>
                <p>A revolution in resolution. Sharp and clear photos with the world's best photo engine, incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquipex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</p>
                <br><br>
                    <h2>PROJECT</h2>
                    <p>Projects I did:</p>
                    <table>
                        <tr>
                            <th>Name</th>
                            <th>Team</th>
                            <th>Framework</th>
                        </tr>
                        <tr>
                            <td>Jill</td>
                            <td>Smith</td>
                            <td>50</td>
                        </tr>
                        <tr>
                            <td>Eve</td>
                            <td>Jackson</td>
                            <td>94</td>
                        </tr>
                        <tr>
                            <td>Adam</td>
                            <td>Johnson</td>
                            <td>67</td>
                        </tr>
                    </table>
                    <br><br>
                    <h2></h2>
                </div>
                <!-- Content -->
            </div>
            </div>
            </div>
        </div>
    </div>
</body>


<style type="text/css">
    body {
   margin: 0;
   font-family: Arial, Helvetica, sans-serif;
}
#background {
    background-image: url("demo.png");
    width: 100%;
    height: 970px;
    padding-top: 50px;
    padding-left: 80px;
    padding-bottom: 50px;
    background-position: center;
    /* Center the image */
    background-repeat: no-repeat;
    /* Do not repeat the image */
    background-size: cover;
}

.detail_image {
    height: auto;
    width: 100%;
    margin-left: 10%;
    background-position: center center;
    background-size: cover;
}

.thum_image{
    width: 260px;
    height: 310px;
    background-position: center center;
    background-size: cover;
    border-radius: 10px;
}

/*Table*/
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
  background-color: orange;
}

th, td {
  text-align: left;
  padding: 16px;
}

tr:nth-child(even) {
  background-color: #f2f2f2
}
h2{
    color: orange;
}
</style>
