<div class="row">
    <div class="col-md-8"></div>
    <div class="col-md-3 col-md-offset-4 step_container">
       
        <%= search_form_for @q do |f| %>
        <%= f.label :name_cont, 'Name' %>
        <%= f.search_field :name_cont %>

        <%= f.submit %>
        <% end %>
    </div>
</div>
<div class="container-fluid" id="content_container">
    <div class="row">
        <% @staffs.each do |staff| %>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
             <a href="<%= staff_path(staff.id) %>"><img class="content_image img-responsive" src="/assets/<%= staff.image %>" alt="Image" style="margin-left: auto;"> </a> 
            <h2 style="color: #A52A2A; padding-left: 5px; padding-right: 156px; ; padding-top: 0px; text-align: center; font: 28px Lora Arial" id="name">
                <%= staff.name %>
            </h2>
            <h3 style="color: #0000CD; padding-top: 0px; padding-right: 152px; text-align: center; font: 26px Lora Arial">
                <% @positions.each do |position| %>
                <%= position.name
                    if position.id === staff.position_id
                        position.name
                    end %>
                <% end %>
            </h3>
        
            <h6 style="color: black; text-align: auto;">
                <%= staff.introduction.first(30) %>...</h6>
            <br>
            <div class="row">
            </div>
        </div>
        <% end %>
    </div>
    <div class="row">
        <%= paginate @staffs ,:theme => 'twitter-bootstrap-3',
                   :pagination_class => "pagination-small pagination-centered pagination justify-content-end" %>
    </div>
</div>
<script type="text/javascript">
    $('.step_container').click(function() {
    $('name').addClass('active');
    }
</script>
<style type="text/css">
    #active{
        color: yellow;
    }
</style>