<html>

<body>
    <div class="container-fluid">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-5">
                    <!-- Brand -->
                    <nav class="navbar navbar-expand-sm"><a class="navbar-brand" href="#">HOME</a></nav>
                </div>
                <!-- List Menu -->
                <div class="col-md-6 ">
                    <div class="row">
                        <div class="col-md-3">
                            <nav class="navbar navbar-expand-sm">
                                <!-- Links -->
                                <ul class="navbar-nav">
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Information</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        <div class="col-md-3">
                            <nav class="navbar navbar-expand-sm">
                                <!-- Links -->
                                <ul class="navbar-nav">
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">About Us</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        <div class="col-md-2">
                            <nav class="navbar navbar-expand-sm">
                                <!-- Links -->
                                <ul class="navbar-nav">
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Team</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        <div class="col-md-3">
                            <nav class="navbar navbar-expand-sm">
                                <!-- Links -->
                                <ul class="navbar-nav">
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Contact Us</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <br>
        </div>
        <!-- Header -->
        <div class="row">
            <div class="col-md-8"></div>
            <div class="col-md-3 col-md-offset-4">
                <div class="input-group">
                    <span class="input-group-prepend">
                        <div class="input-group-text bg-transparent border-right-0">
                            <i class="fa fa-search"></i>
                        </div>
                    </span>
                    <input class="form-control py-2 border-left-0 border" type="search" value="..." id="example-search-input" />
                    <span class="input-group-append">
                        <button class="btn btn-outline-secondary border-left-0 border" type="button">
                            Search
                        </button>
                    </span>
                </div>
            </div>
        </div>
        <!-- Search -->
        <!--         <div class="container-fluid">
        	<div class="row">
        	<div class="col-md-5 fakeimg_content">
						<div class="row">
							<div class="col-md-5">
								<div class="thum_image">
									<img class="thum_image" src="<%= image_url '3.jpg' %>" alt="Image">
								</div>
								<button type="button" class="btn btn-warning fakeing_button">Details</button>
							</div>
							<div class="col-md-7">
								<h2>Name: </h2>
								<div class="fakeing_line"></div>
								<h2>Gender: </h2>
								<div class="fakeing_line"></div>
								<h2>Position: </h2>
								<div class="fakeing_line"></div>
							</div>
						</div>
        	</div>

					<div class="col-md-2"></div>

        	<div class="col-md-5 fakeimg_content">
        		<div class="row">
							<div class="col-md-5">
								<div class="thum_image">
									<img class="thum_image" src="<%= image_url '3.jpg' %>" alt="Image">
								</div>
								<button type="button" class="btn btn-warning fakeing_button">Details</button>
							</div>
							<div class="col-md-7">
								<h2>Name: </h2>
								<div class="fakeing_line"></div>
								<h2>Gender: </h2>
								<div class="fakeing_line"></div>
								<h2>Position: </h2>
								<div class="fakeing_line"></div>
							</div>
						</div>
        	</div>
        </div>
        </div>

        <div class="container-fluid">
        	<div class="row">
        	<div class="col-md-5 fakeimg_content">
						<div class="row">
							<div class="col-md-5">
								<div class="thum_image">
									<img class="thum_image" src="<%= image_url '1.jpg' %>" alt="Image">
								</div>
								<button type="button" class="btn btn-warning fakeing_button">Details</button>
							</div>
							<div class="col-md-7">
								<h2>Name: </h2>
								<div class="fakeing_line"></div>
								<h2>Gender: </h2>
								<div class="fakeing_line"></div>
								<h2>Position: </h2>
								<div class="fakeing_line"></div>
							</div>
						</div>
        	</div>

					<div class="col-md-2"></div>

        	<div class="col-md-5 fakeimg_content">
        		<div class="row">
							<div class="col-md-5">
								<div class="thum_image">
									<img class="thum_image" src="<%= image_url '2.jpg' %>" alt="Image">
								</div>
								<button type="button" class="btn btn-warning fakeing_button">Details</button>
							</div>
							<div class="col-md-7">
								<h2>Name: </h2>
								<div class="fakeing_line"></div>
								<h2>Gender: </h2>
								<div class="fakeing_line"></div>
								<h2>Position: </h2>
								<div class="fakeing_line"></div>
							</div>
						</div>
        	</div>
        </div>
        </div> -->
        <div class="container-fluid" id="content_container">
            <h1>People</h1>
            <br>
        </div>
        <div class="container-fluid" id="content_container">
            <div class="row">
                <div class="col-xl-3">
                    <img class="content_image" src="<%= image_url '1.jpg' %>" alt="Image">
                    <h2 style="color: #A52A2A; padding-left: 15px; padding-top: 15px; text-align: center; font: 38px Lora Arial">Đàm Thiên Phúc</h2>
                    <h3 style="color:	#0000CD; padding-top: 5px; text-align: center; font: 28px Lora Arial">Web Developer</h3>
                    <br>
                    <h6 style="color: black; text-align: center;">In many countries, a mayor is the highest-ranking official in a government.</h6>
                    <br>
                    <div class="row">
                    </div>
                </div>
                <div class="col-xl-3">
                    <img class="content_image" src="<%= image_url '3.jpg' %>" alt="Image">
                    <h2 style="color: #A52A2A; padding-left: 15px; padding-top: 15px; text-align: center; font: 38px Lora Arial">Đàm Thiên Phúc</h2>
                    <h3 style="color: #0000CD;padding-top: 5px; text-align: center; font: 28px Lora Arial">Web Developer</h3>
                    <br>
                    <h6 style="color: black; text-align: center;">In many countries, a mayor is the highest-ranking official in a government.</h6>
                    <br>
                    <div class="row">
                    </div>
                </div>
                <div class="col-xl-3">
                    <img class="content_image" src="<%= image_url '4.jpg' %>" alt="Image">
                    <h2 style="color: #A52A2A; padding-left: 15px; padding-top: 15px; text-align: center; font: 38px Lora Arial">Đàm Thiên Phúc</h2>
                    <h3 style="color: #0000CD;padding-top: 5px; text-align: center; font: 28px Lora Arial">Web Developer</h3><br>
                    <h6 style="color: black; text-align: center;">In many countries, a mayor is the highest-ranking official in a government.</h6>
                    <br>
                    <div class="row">
                    </div>
                </div>
                <div class="col-xl-3">
                    <img class="content_image" src="<%= image_url '5.jpg' %>" alt="Image">
                    <h2 style="color: #A52A2A; padding-left: 15px; padding-top: 15px; text-align: center; font: 38px Lora Arial">Đàm Thiên Phúc</h2>
                    <h3 style="color: #0000CD;padding-top: 5px; text-align: center; font: 28px Lora Arial">Web Developer</h3><br>
                    <h6 style="color: black; text-align: center;">In many countries, a mayor is the highest-ranking official in a government.</h6>
                    <br>
                    <div class="row">
                    </div>
                    <br>
                </div>
            </div>
        </div>
        <br>
        <div class="container-fluid" id="content_container">
            <div class="row">
                <div class="col-xl-3">
                    <img class="content_image" src="<%= image_url '4.jpg' %>" alt="Image">
                    <h2 style="color: #A52A2A; padding-left: 15px; padding-top: 15px; text-align: center; font: 38px Lora Arial">Đàm Thiên Phúc</h2>
                    <h3 style="color:	#0000CD; padding-top: 5px; text-align: center; font: 28px Lora Arial">Web Developer</h3>
                    <br>
                    <h6 style="color: black; text-align: center;">In many countries, a mayor is the highest-ranking official in a government.</h6>
                    <br>
                    <div class="row">
                    </div>
                </div>
                <div class="col-xl-3">
                    <img class="content_image" src="<%= image_url '5.jpg' %>" alt="Image">
                    <h2 style="color: #A52A2A; padding-left: 15px; padding-top: 15px; text-align: center; font: 38px Lora Arial">Đàm Thiên Phúc</h2>
                    <h3 style="color: #0000CD;padding-top: 5px; text-align: center; font: 28px Lora Arial">Web Developer</h3>
                    <br>
                    <h6 style="color: black; text-align: center;">In many countries, a mayor is the highest-ranking official in a government.</h6>
                    <br>
                    <div class="row">
                    </div>
                </div>
                <div class="col-xl-3">
                    <img class="content_image" src="<%= image_url '3.jpg' %>" alt="Image">
                    <h2 style="color: #A52A2A; padding-left: 15px; padding-top: 15px; text-align: center; font: 38px Lora Arial">Đàm Thiên Phúc</h2>
                    <h3 style="color: #0000CD;padding-top: 5px; text-align: center; font: 28px Lora Arial">Web Developer</h3><br>
                    <h6 style="color: black; text-align: center;">In many countries, a mayor is the highest-ranking official in a government.</h6>
                    <br>
                    <div class="row">
                    </div>
                </div>
                <div class="col-xl-3">
                    <img class="content_image" src="<%= image_url '1.jpg' %>" alt="Image">
                    <h2 style="color: #A52A2A; padding-left: 15px; padding-top: 15px; text-align: center; font: 38px Lora Arial">Đàm Thiên Phúc</h2>
                    <h3 style="color: #0000CD;padding-top: 5px; text-align: center; font: 28px Lora Arial">Web Developer</h3><br>
                    <h6 style="color: black; text-align: center;">In many countries, a mayor is the highest-ranking official in a government.</h6>
                    <br>
                    <div class="row">
                    </div>
                    <br>
                </div>
            </div>
        </div>
        <br>
    </div>
</body>

</html>