<% @staff.each do |staff| %>

<body>
    <div class="container-fluid" id="background">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-5">
                    <!-- Brand -->
                    <nav class="navbar navbar-expand-sm"><a class="navbar-brand" href="#">HOME</a></nav>
                </div>
            </div>
            <br>
        </div>
        <!-- Header -->
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8 col-md-offset-2">
                    <div class="row">
                        <div class="col-sm-4 text-center">
                            
                            <div class="detail_image ">
                                
                                <img src="/assets/<%= staff[6] %>" class=" thum_image" alt="Image" width="100%" height="400px;">
                            </div>
                            <h3>Name:
                                <%= staff[0] %>
                            </h3>
                            <h3>Gender:
                                <%= staff[1] %>
                            </h3>
                            <h3>Position:
                                <%= staff[2] %>
                            </h3>
                            <h3>Team:
                                <%= staff[3] %>
                            </h3>
                            <hr class="d-sm-none">
                        </div>
                        <!-- Sidebar -->
                        <br><br>
                        <div class="col-sm-8">
                            <h2>Introduction</h2>
                            <p>
                                <%= staff[4] %>
                            </p>
                            <br>
                            <h2>My Feeling</h2>
                            <p>
                                <%= staff[5] %>
                            </p>
                            <% end %>
                            <br><br>
                            <h2>PROJECT</h2>
                            
                            <table>
                                <tr>
                                    <th>Name</th>
                                    <th>Framework</th>
                                </tr>
                                <% @project.each do |project| %>
                                <tr>
                                    <td><%= project[0] %></td>
                                    <td><%= project[1] %></td>
                                </tr>
                                <% end %>
                               
                            </table>
                            <br><br>
                            <h2></h2>
                        </div>
                        <!-- Content -->

                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

<style type="text/css">
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#background {
    background-image: url("./assets/images/demo.png");
    width: 100%;
    height: 970px;
    padding-top: 50px;
    padding-left: 80px;
    padding-bottom: 50px;
    background-position: center;
    /* Center the image */
    background-repeat: no-repeat;
    /* Do not repeat the image */
    background-size: cover;
}

.detail_image {
    height: auto;
    width: 100%;
    margin-left: 10%;
    background-position: center center;
    background-size: cover;
        margin-left: 1px;
}

.thum_image {
    width: 260px;
    height: 310px;
    background-position: center center;
    background-size: cover;
    border-radius: 10px;

}

/*Table*/
table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
    background-color: orange;
}

th,
td {
    text-align: left;
    padding: 16px;
}

tr:nth-child(even) {
    background-color: #f2f2f2
}

h2 {
    color: orange;
}
</style>