body {
   margin: 0;
   font-family: Arial, Helvetica, sans-serif;
}


.detail_image {
    height: auto;
    width: 100%;
    margin-left: 10%;
    background-position: center center;
    background-size: cover;
}

.thum_image{
    width: 260px;
    height: 310px;
    background-position: center center;
    background-size: cover;
    border-radius: 10px;
}

/*Table*/
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
  background-color: orange;
}

th, td {
  text-align: left;
  padding: 16px;
}

tr:nth-child(even) {
  background-color: #f2f2f2
}
h2{
    color: orange;
}