#background {
    background-image: url("demo.png");
    width: 100%;
    height: 970px;
    padding-top: 50px;
    padding-left: 80px;
    padding-bottom: 50px;
    background-position: center;
    /* Center the image */
    background-repeat: no-repeat;
    /* Do not repeat the image */
    background-size: cover;
}

.bg-light {
    background-color: #f8f9fa00 !important;
}

#text-title {
    margin-top: 20%;
    color: #0919dc;
    font-size: 80px;
    font-family: "Lato";
}

#text-sub {
    font-family: "Lato";
    color: #062ce6;
    font-size: 25px;
}

#main-image {
    width: 80%;
    height: 40%;
    margin-top: 7%;
}

.navbar-expand-lg .navbar-collapse {
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    margin-left: 600px;
}

.nav-item {
    font-size: 24px;

}

.nav-link {
    color: ##4A64D4;
}

.navbar-brand {
    font-size: 24px;
}

.navbar-light .navbar-nav .nav-link .navbar-toggler-icon {
    color: ##4A64D4;
}

.main-button {
    font-size: 20px;
    letter-spacing: 0px;
    color: #345EBD;
    font-family: "Lato";
    font-weight: 700;
    /*padding-left: 10px;*/
    border-radius: 10px;
    border: none;
    background-color: #8DEAF8;
}

#start {
    float: left;
    margin-right: 45px;
    text-align: center;
    color: #062ce6;
    font-size: 15px;
}

#learn {
    float: left;
    margin-right: 45px;
    text-align: left;
    color: #062ce6;
    font-size: 15px;
}

#Learn {
    padding-left: 30px;
    float: left;
    margin-right: 45px;
    text-align: center;
}

.icon {
    float: left;
    height: 10%;
    width: 10%;
}

.icon-child {
    display: none;
}

.dad-icon {
    padding-top: 20px;
}

@media screen and (max-width: 800px) {
    a:not(:first-child) {
        display: block;
    }

    .nav-item {
        font-size: 24px;
        float: left;
    }
}


@media screen and (max-width: 576px) {
    a:not(:first-child) {
        display: block;
    }

}

@media screen and (max-width: 478px) {
    a:not(:first-child) {
        display: block;
    }
}


body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.topnav {
    overflow: hidden;
    background-color: #0000;
}

.topnav a {
    float: left;
    display: block;
    color: #000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #4CAF;
    color: white;
}

.topnav .icon {
    display: none;
}

@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {
        display: none;
    }

    .topnav a.icon {
        float: right;
        display: block;
        background-color: #D3D3D3;

    }

    .detail_image {
    height: 250px;
    width: 100%;
    margin-left: 10%;
}
}

@media screen and (max-width: 600px) {
    .topnav.responsive {
        position: relative;
    }

    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
        background-color: #D3D3D3
    }
}