

body {
    font-family: 'Source Sans Pro', Arial, sans-serif;
}

#content_container {
    margin-top: 3%;
    width: 100%;
    height: auto;
    padding-left: 0px;
    padding-right: 0px;
}

.content_image {
    border-radius: 15%;
    height: 240px;
    width: 220px;
    margin-left: 50px;
}

.content_icon {
    border-radius: 50%;
    width: 25px;
    height: 25px;
}

@media screen and (max-width: 900px) {
    #content_container {
        margin-top: 3%;
        width: 100%;
        height: auto;
        padding-left: 0px;
        padding-right: 0px;
    }

    .content_image {
        border-radius: 15%;
        height: 2s40px;
        width: 220px;
        margin-left: 50px;
    }

    .content_icon {
        border-radius: 50%;
        width: 25px;
        height: 25px;
    }
}

@media screen and (max-width: 600px) {
    .topnav.responsive {
        position: relative;
    }

    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
        background-color: #D3D3D3
    }
}

@media screen and (max-width: 576px) {
    a:not(:first-child) {
        display: block;
    }

}

@media screen and (max-width: 478px) {
    a:not(:first-child) {
        display: block;
    }
}