
    <div class="container-fluid">

        <div id="collapseOne" class="collapse show" data-parent="#accordion">
            <div class="card-body">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                        <h1 id="text-title">Teamwork is key</h1>
                        <h5 id="text-sub">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure eveniet odit sapiente, a hic aperiam, ratione qui quod sequi consequatur quasi ducimus veniam nam fugiat debitis! Id repudiandae odit quo.</h5>
                        <button type="button" class="btn btn-warning main-button" id="Learn" data-toggle="collapse" data-target="#learn">Learn More</button>
                        <button type="button" class="btn btn-warning main-button" id="Start" data-toggle="collapse" data-target="#start">Get Started</button>
                        <div id="learn" class="collapse">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        </div>
                        <div id="start" class="collapse" style="text-align: left;">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                        <div class="row">
                            <img id="main-image" width="80%;" src="<%= image_url 'work.png' %>" alt="Image">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                <div class="row dad-icon">
                    <img src="<%= image_url 'linkein.png' %>" class="img-responsive icon" alt="Image">
                    <img src="<%= image_url 'facebook.png' %>" class="img-responsive icon" alt="Image">
                    <img src="<%= image_url 'twiter.png' %>" class="img-responsive icon" alt="Image">
                    <img src="<%= image_url 'ph.png' %>" class="img-responsive icon" alt="Image">
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
            </div>
        </div>
    </div>