<%= form_with(model: acount, local: true) do |form| %>
  <% if acount.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(acount.errors.count, "error") %> prohibited this acount from being saved:</h2>

      <ul>
        <% acount.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :username %>
    <%= form.text_field :username %>
  </div>

  <div class="field">
    <%= form.label :password %>
    <%= form.text_field :password %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
