<p id="notice"><%= notice %></p>

<h1>Acounts</h1>

<table>
  <thead>
    <tr>
      <th>Username</th>
      <th>Password</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @acounts.each do |acount| %>
      <tr>
        <td><%= acount.username %></td>
        <td><%= acount.password %></td>
        <td><%= link_to 'Show', acount %></td>
        <td><%= link_to 'Edit', edit_acount_path(acount) %></td>
        <td><%= link_to 'Destroy', acount, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Acount', new_acount_path %>
