<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @acount.username %>
</p>

<p>
  <strong>Password:</strong>
  <%= @acount.password %>
</p>

<%= link_to 'Edit', edit_acount_path(@acount) %> |
<%= link_to 'Back', acounts_path %>
