<!DOCTYPE html>
<html>

<head>
    <base href="assets">
    <title>StaffManagerment</title>
     <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%#= stylesheet_link_tag 'home_page', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" type="text/css" href="home_page.css" rel="stylesheet">
    <!-- <link rel="stylesheet" type="text/css" href="imagehover.css" rel="stylesheet"> -->

    
  </head>

<body id="background">  
    <p class="notice" style="color: red"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-5">
                    <!-- Brand -->
                    <nav class="navbar navbar-expand-sm">
                        
                        <div class="navbar-brand"><%= link_to 'Home', root_url %></div>
                    </nav>
            </div>
            <!-- List Menu -->
            <div class="col-md-7 ">
                <div class="row">
                        <div class="col-md-3">
                            <nav class="navbar navbar-expand-sm">
                                <!-- Links -->
                                <ul class="navbar-nav">
                                    <li class="nav-item">
                                        <div class="nav-link"><%= link_to 'Information', staffs_path %></div>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                   
                        <div class="col-md-3">
                            <nav class="navbar navbar-expand-sm">
                                <ul class="navbar-nav">
                                    <li class="nav-item">
                                       <%= link_to 'Team', teams_path, :class => 'nav-link' %>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        
                        <% if admin_signed_in? %>
                       
                        <div class="col-md-3">
                            <nav class="navbar navbar-expand-sm">
                                <ul class="navbar-nav">
                                    <li class="nav-item">
                                        <%= link_to 'Edit Acount', edit_admin_registration_path, :class => 'nav-link' %>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        <div class="col-md-3">
                            <nav class="navbar navbar-expand-sm">
                                <ul class="navbar-nav">
                                    <li class="nav-item">
                                        <%= link_to "Logout", destroy_admin_session_path, method: :delete, :class => 'nav-link'  %>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        <% else %>
                        <div class="col-md-3">
                            <nav class="navbar navbar-expand-sm">
                                <ul class="navbar-nav">
                                    <li class="nav-item">
                                    <%= link_to "Sign up", new_admin_registration_path, :class => 'nav-link'  %>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        <div class="col-md-3">
                            <nav class="navbar navbar-expand-sm">
                                <ul class="navbar-nav">
                                    <li class="nav-item">
                                       <%= link_to "Signin", new_admin_session_path, :class => 'navbar-link'  %>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        <% end %>
                </div>
            </div>
        </div>
            <%#= render "staffs/form" %>
        <%= yield %>     
    </div>   
   
</body>

</html>
